In [1]:
import networkx as nx
from ipysigma import Sigma

# Importing a gexf graph
g = nx.read_gexf('dataset.gexf')

In [2]:
# Displaying the graph with a size mapped on degree and
# a color mapped on a categorical attribute of the nodes
Sigma(g, node_size=g.degree, node_color='category')

Sigma(nx.DiGraph with 2,085 nodes and 5,409 edges)

In [6]:
g.nodes['cytoscape']

{'tag': 'Tool',
 'URL': 'https://en.wikipedia.org/wiki/Cytoscape',
 'cluster': 'Graph theory',
 'score': '0.00006909602204225056',
 'label': 'Cytoscape'}

# DATOS ONET (Abilities, Skills, Knowledge)

In [52]:
import os 
import pandas as pd 

## Definimos rutas donde se encuentran las correspondencias scian-ciiu
FILE_PATH = os.getcwd()
DATA_PATH = os.path.join(FILE_PATH, "data")
OUTPUT_PATH = os.path.join(FILE_PATH, "output")

ONET_DATA_PATH = os.path.join(FILE_PATH, "data", "onet", "db_28_2_text")
SKILLS_ONET_DATA_PATH = os.path.join(ONET_DATA_PATH, "Skills.txt")
KNOWLEDGE_ONET_DATA_PATH = os.path.join(ONET_DATA_PATH, "Knowledge.txt")
ABILITIES_ONET_DATA_PATH = os.path.join(ONET_DATA_PATH, "Abilities.txt")
EDUCATION_ONET_DATA_PATH = os.path.join(ONET_DATA_PATH, "Education, Training, and Experience.txt")

In [55]:
# Cargamos datos
skills = pd.read_table(SKILLS_ONET_DATA_PATH)
knowledge = pd.read_table(KNOWLEDGE_ONET_DATA_PATH)
abilities = pd.read_table(ABILITIES_ONET_DATA_PATH)
education = pd.read_table(EDUCATION_ONET_DATA_PATH)

# Filtramos datos
skills = skills[(skills["Domain Source"]=="Analyst") & (skills["Scale ID"]=="IM")]
abilities = abilities[(abilities["Domain Source"]=="Analyst") & (abilities["Scale ID"]=="IM")]
knowledge = knowledge[(knowledge["Domain Source"]=="Incumbent") & (knowledge["Scale ID"]=="IM")]
education = education[(education["Domain Source"]=="Incumbent") & (education["Scale ID"] =="RL") & (education["Category"] >=6)]

In [70]:
# Agrupamos valores
skills["onet_code"] = skills["O*NET-SOC Code"].apply(lambda x : x.split(".")[0])
abilities["onet_code"] = abilities["O*NET-SOC Code"].apply(lambda x : x.split(".")[0])
knowledge["onet_code"] = knowledge["O*NET-SOC Code"].apply(lambda x : x.split(".")[0])
education["onet_code"] = education["O*NET-SOC Code"].apply(lambda x : x.split(".")[0])

education["Element ID"] = education["Element ID"] + education["Category"].astype(int).astype(str)

knowledge_grouped = knowledge.groupby(["onet_code", "Element ID"]).agg({"Data Value" : "mean"}).reset_index()
abilities_grouped = abilities.groupby(["onet_code", "Element ID"]).agg({"Data Value" : "mean"}).reset_index()
skills_grouped = skills.groupby(["onet_code", "Element ID"]).agg({"Data Value" : "mean"}).reset_index()
education_grouped = education.groupby(["onet_code", "Element ID"]).agg({"Data Value" : "mean"}).reset_index()

skills_grouped["element_id"] = skills_grouped["Element ID"]+"_skills" 
abilities_grouped["element_id"] = abilities_grouped["Element ID"]+"_abilities" 
knowledge_grouped["element_id"] = knowledge_grouped["Element ID"]+"_knowledge"
education_grouped["element_id"] = education_grouped["Element ID"]+"_education"

In [121]:
## Concatenamos los datos
features_occupations = pd.concat([skills_grouped, abilities_grouped, knowledge_grouped, education_grouped], ignore_index=True)
#features_occupations = pd.concat([skills_grouped,education_grouped], ignore_index=True)

features_occupations

      onet_code Element ID  Data Value         element_id
0       11-1011    2.A.1.a       4.060     2.A.1.a_skills
1       11-1011    2.A.1.b       4.000     2.A.1.b_skills
2       11-1011    2.A.1.c       4.120     2.A.1.c_skills
3       11-1011    2.A.1.d       4.125     2.A.1.d_skills
4       11-1011    2.A.1.e       3.065     2.A.1.e_skills
...         ...        ...         ...                ...
89944   53-7121    2.D.112       0.000  2.D.112_knowledge
89945   53-7121     2.D.16       1.760   2.D.16_knowledge
89946   53-7121     2.D.17       0.000   2.D.17_knowledge
89947   53-7121     2.D.18       0.000   2.D.18_knowledge
89948   53-7121     2.D.19       0.000   2.D.19_knowledge

[89949 rows x 4 columns]

In [122]:
## Agregamos informacion del SOC code
soc_structure = pd.read_excel("data/soc_structure_2018.xlsx", skiprows=7)
soc_structure.columns = ["Major Group", "Minor Group", "Broad Group", "Detailed Occupation", "Description"]
soc_structure

,Major Group,Minor Group,Broad Group,Detailed Occupation,Description
0,11-0000,NaN,NaN,NaN,Management Occupations
1,NaN,11-1000,NaN,NaN,Top Executives
2,NaN,NaN,11-1010,NaN,Chief Executives
3,NaN,NaN,NaN,11-1011,Chief Executives
4,NaN,NaN,11-1020,NaN,General and Operations Managers
...,...,...,...,...,...
1442,NaN,NaN,NaN,55-3014,Artillery and Missile Crew Members
1443,NaN,NaN,NaN,55-3015,Command and Control Center Specialists
1444,NaN,NaN,NaN,55-3016,Infantry
1445,NaN,NaN,NaN,55-3018,Special Forces
1446,NaN,NaN,NaN,55-3019,Military Enlisted Tactical Operations and Air/...

In [123]:
soc_detailed = {i:j for i,j in soc_structure.dropna(subset="Detailed Occupation")[["Detailed Occupation", "Description"]].to_records(index = False)}
soc_detailed

{'11-1011': 'Chief Executives',
 '11-1021': 'General and Operations Managers',
 '11-1031': 'Legislators',
 '11-2011': 'Advertising and Promotions Managers',
 '11-2021': 'Marketing Managers',
 '11-2022': 'Sales Managers',
 '11-2032': 'Public Relations Managers',
 '11-2033': 'Fundraising Managers',
 '11-3012': 'Administrative Services Managers',
 '11-3013': 'Facilities Managers',
 '11-3021': 'Computer and Information Systems Managers',
 '11-3031': 'Financial Managers',
 '11-3051': 'Industrial Production Managers',
 '11-3061': 'Purchasing Managers',
 '11-3071': 'Transportation, Storage, and Distribution Managers',
 '11-3111': 'Compensation and Benefits Managers',
 '11-3121': 'Human Resources Managers',
 '11-3131': 'Training and Development Managers',
 '11-9013': 'Farmers, Ranchers, and Other Agricultural Managers',
 '11-9021': 'Construction Managers',
 '11-9031': 'Education and Childcare Administrators, Preschool and Daycare',
 '11-9032': 'Education Administrators, Kindergarten through Secondary',
 '11-9033': 'Education Administrators, Postsecondary',
 '11-9039': 'Education Administrators, All Other',
 '11-9041': 'Architectural and Engineering Managers',
 '11-9051': 'Food Service Managers',
 '11-9071': 'Gambling Managers',
 '11-9072': 'Entertainment and Recreation Managers, Except Gambling',
 '11-9081': 'Lodging Managers',
 '11-9111': 'Medical and Health Services Managers',
 '11-9121': 'Natural Sciences Managers',
 '11-9131': 'Postmasters and Mail Superintendents',
 '11-9141': 'Property, Real Estate, and Community Association Managers',
 '11-9151': 'Social and Community Service Managers',
 '11-9161': 'Emergency Management Directors',
 '11-9171': 'Funeral Home Managers',
 '11-9179': 'Personal Service Managers, All Other',
 '11-9199': 'Managers, All Other',
 '13-1011': 'Agents and Business Managers of Artists, Performers, and Athletes',
 '13-1021': 'Buyers and Purchasing Agents, Farm Products',
 '13-1022': 'Wholesale and Retail Buyers, Except Farm Products',
 '13-1023': 'Purchasing Agents, Except Wholesale, Retail, and Farm Products',
 '13-1031': 'Claims Adjusters, Examiners, and Investigators',
 '13-1032': 'Insurance Appraisers, Auto Damage',
 '13-1041': 'Compliance Officers',
 '13-1051': 'Cost Estimators',
 '13-1071': 'Human Resources Specialists',
 '13-1074': 'Farm Labor Contractors',
 '13-1075': 'Labor Relations Specialists',
 '13-1081': 'Logisticians',
 '13-1082': 'Project Management Specialists',
 '13-1111': 'Management Analysts',
 '13-1121': 'Meeting, Convention, and Event Planners',
 '13-1131': 'Fundraisers',
 '13-1141': 'Compensation, Benefits, and Job Analysis Specialists',
 '13-1151': 'Training and Development Specialists',
 '13-1161': 'Market Research Analysts and Marketing Specialists',
 '13-1199': 'Business Operations Specialists, All Other',
 '13-2011': 'Accountants and Auditors',
 '13-2022': 'Appraisers of Personal and Business Property',
 '13-2023': 'Appraisers and Assessors of Real Estate',
 '13-2031': 'Budget Analysts',
 '13-2041': 'Credit Analysts',
 '13-2051': 'Financial and Investment Analysts',
 '13-2052': 'Personal Financial Advisors',
 '13-2053': 'Insurance Underwriters',
 '13-2054': 'Financial Risk Specialists',
 '13-2061': 'Financial Examiners',
 '13-2071': 'Credit Counselors',
 '13-2072': 'Loan Officers',
 '13-2081': 'Tax Examiners and Collectors, and Revenue Agents',
 '13-2082': 'Tax Preparers',
 '13-2099': 'Financial Specialists, All Other',
 '15-1211': 'Computer Systems Analysts',
 '15-1212': 'Information Security Analysts',
 '15-1221': 'Computer and Information Research Scientists',
 '15-1231': 'Computer Network Support Specialists',
 '15-1232': 'Computer User Support Specialists',
 '15-1241': 'Computer Network Architects',
 '15-1242': 'Database Administrators',
 '15-1243': 'Database Architects',
 '15-1244': 'Network and Computer Systems Administrators',
 '15-1251': 'Computer Programmers',
 '15-1252': 'Software Developers',
 '15-1253': 'Software Quality Assurance Analysts and Testers',
 '15-1254': 'Web Developers',
 '15-1255': 'Web and Digital Interface Designers',
 '15-1299': 'Computer Occupations, All Other',
 '15-2011': 'Actuaries',
 '15-2021': 'Mathematicians',
 '15-2031': 'Operations Research Analysts',
 '15-2041': 'Statisticians',
 '15-2051': 'Data Scientists',
 '15-2099': 'Mathematical Science Occupations, All Other',
 '17-1011': 'Architects, Except Landscape and Naval',
 '17-1012': 'Landscape Architects',
 '17-1021': 'Cartographers and Photogrammetrists',
 '17-1022': 'Surveyors',
 '17-2011': 'Aerospace Engineers',
 '17-2021': 'Agricultural Engineers',
 '17-2031': 'Bioengineers and Biomedical Engineers',
 '17-2041': 'Chemical Engineers',
 '17-2051': 'Civil Engineers',
 '17-2061': 'Computer Hardware Engineers',
 '17-2071': 'Electrical Engineers',
 '17-2072': 'Electronics Engineers, Except Computer',
 '17-2081': 'Environmental Engineers',
 '17-2111': 'Health and Safety Engineers, Except Mining Safety Engineers and Inspectors',
 '17-2112': 'Industrial Engineers',
 '17-2121': 'Marine Engineers and Naval Architects',
 '17-2131': 'Materials Engineers',
 '17-2141': 'Mechanical Engineers',
 '17-2151': 'Mining and Geological Engineers, Including Mining Safety Engineers',
 '17-2161': 'Nuclear Engineers',
 '17-2171': 'Petroleum Engineers',
 '17-2199': 'Engineers, All Other',
 '17-3011': 'Architectural and Civil Drafters',
 '17-3012': 'Electrical and Electronics Drafters',
 '17-3013': 'Mechanical Drafters',
 '17-3019': 'Drafters, All Other',
 '17-3021': 'Aerospace Engineering and Operations Technologists and Technicians',
 '17-3022': 'Civil Engineering Technologists and Technicians',
 '17-3023': 'Electrical and Electronic Engineering Technologists and Technicians',
 '17-3024': 'Electro-Mechanical and Mechatronics Technologists and Technicians',
 '17-3025': 'Environmental Engineering Technologists and Technicians',
 '17-3026': 'Industrial Engineering Technologists and Technicians',
 '17-3027': 'Mechanical Engineering Technologists and Technicians',
 '17-3028': 'Calibration Technologists and Technicians',
 '17-3029': 'Engineering Technologists and Technicians, Except Drafters, All Other',
 '17-3031': 'Surveying and Mapping Technicians',
 '19-1011': 'Animal Scientists',
 '19-1012': 'Food Scientists and Technologists',
 '19-1013': 'Soil and Plant Scientists',
 '19-1021': 'Biochemists and Biophysicists',
 '19-1022': 'Microbiologists',
 '19-1023': 'Zoologists and Wildlife Biologists',
 '19-1029': 'Biological Scientists, All Other',
 '19-1031': 'Conservation Scientists',
 '19-1032': 'Foresters',
 '19-1041': 'Epidemiologists',
 '19-1042': 'Medical Scientists, Except Epidemiologists',
 '19-1099': 'Life Scientists, All Other',
 '19-2011': 'Astronomers',
 '19-2012': 'Physicists',
 '19-2021': 'Atmospheric and Space Scientists',
 '19-2031': 'Chemists',
 '19-2032': 'Materials Scientists',
 '19-2041': 'Environmental Scientists and Specialists, Including Health',
 '19-2042': 'Geoscientists, Except Hydrologists and Geographers',
 '19-2043': 'Hydrologists',
 '19-2099': 'Physical Scientists, All Other',
 '19-3011': 'Economists',
 '19-3022': 'Survey Researchers',
 '19-3032': 'Industrial-Organizational Psychologists',
 '19-3033': 'Clinical and Counseling Psychologists',
 '19-3034': 'School Psychologists',
 '19-3039': 'Psychologists, All Other',
 '19-3041': 'Sociologists',
 '19-3051': 'Urban and Regional Planners',
 '19-3091': 'Anthropologists and Archeologists',
 '19-3092': 'Geographers',
 '19-3093': 'Historians',
 '19-3094': 'Political Scientists',
 '19-3099': 'Social Scientists and Related Workers, All Other',
 '19-4012': 'Agricultural Technicians',
 '19-4013': 'Food Science Technicians',
 '19-4021': 'Biological Technicians',
 '19-4031': 'Chemical Technicians',
 '19-4042': 'Environmental Science and Protection Technicians, Including Health',
 '19-4043': 'Geological Technicians, Except Hydrologic Technicians',
 '19-4044': 'Hydrologic Technicians',
 '19-4051': 'Nuclear Technicians',
 '19-4061': 'Social Science Research Assistants',
 '19-4071': 'Forest and Conservation Technicians',
 '19-4092': 'Forensic Science Technicians',
 '19-4099': 'Life, Physical, and Social Science Technicians, All Other',
 '19-5011': 'Occupational Health and Safety Specialists',
 '19-5012': 'Occupational Health and Safety Technicians',
 '21-1011': 'Substance Abuse and Behavioral Disorder Counselors',
 '21-1012': 'Educational, Guidance, and Career Counselors and Advisors',
 '21-1013': 'Marriage and Family Therapists',
 '21-1014': 'Mental Health Counselors',
 '21-1015': 'Rehabilitation Counselors',
 '21-1019': 'Counselors, All Other',
 '21-1021': 'Child, Family, and School Social Workers',
 '21-1022': 'Healthcare Social Workers',
 '21-1023': 'Mental Health and Substance Abuse Social Workers',
 '21-1029': 'Social Workers, All Other',
 '21-1091': 'Health Education Specialists',
 '21-1092': 'Probation Officers and Correctional Treatment Specialists',
 '21-1093': 'Social and Human Service Assistants',
 '21-1094': 'Community Health Workers',
 '21-1099': 'Community and Social Service Specialists, All Other',
 '21-2011': 'Clergy',
 '21-2021': 'Directors, Religious Activities and Education',
 '21-2099': 'Religious Workers, All Other',
 '23-1011': 'Lawyers',
 '23-1012': 'Judicial Law Clerks',
 '23-1021': 'Administrative Law Judges, Adjudicators, and Hearing Officers',
 '23-1022': 'Arbitrators, Mediators, and Conciliators',
 '23-1023': 'Judges, Magistrate Judges, and Magistrates',
 '23-2011': 'Paralegals and Legal Assistants',
 '23-2093': 'Title Examiners, Abstractors, and Searchers',
 '23-2099': 'Legal Support Workers, All Other',
 '25-1011': 'Business Teachers, Postsecondary',
 '25-1021': 'Computer Science Teachers, Postsecondary',
 '25-1022': 'Mathematical Science Teachers, Postsecondary',
 '25-1031': 'Architecture Teachers, Postsecondary',
 '25-1032': 'Engineering Teachers, Postsecondary',
 '25-1041': 'Agricultural Sciences Teachers, Postsecondary',
 '25-1042': 'Biological Science Teachers, Postsecondary',
 '25-1043': 'Forestry and Conservation Science Teachers, Postsecondary',
 '25-1051': 'Atmospheric, Earth, Marine, and Space Sciences Teachers, Postsecondary',
 '25-1052': 'Chemistry Teachers, Postsecondary',
 '25-1053': 'Environmental Science Teachers, Postsecondary',
 '25-1054': 'Physics Teachers, Postsecondary',
 '25-1061': 'Anthropology and Archeology Teachers, Postsecondary',
 '25-1062': 'Area, Ethnic, and Cultural Studies Teachers, Postsecondary',
 '25-1063': 'Economics Teachers, Postsecondary',
 '25-1064': 'Geography Teachers, Postsecondary',
 '25-1065': 'Political Science Teachers, Postsecondary',
 '25-1066': 'Psychology Teachers, Postsecondary',
 '25-1067': 'Sociology Teachers, Postsecondary',
 '25-1069': 'Social Sciences Teachers, Postsecondary, All Other',
 '25-1071': 'Health Specialties Teachers, Postsecondary',
 '25-1072': 'Nursing Instructors and Teachers, Postsecondary',
 '25-1081': 'Education Teachers, Postsecondary',
 '25-1082': 'Library Science Teachers, Postsecondary',
 '25-1111': 'Criminal Justice and Law Enforcement Teachers, Postsecondary',
 '25-1112': 'Law Teachers, Postsecondary',
 '25-1113': 'Social Work Teachers, Postsecondary',
 '25-1121': 'Art, Drama, and Music Teachers, Postsecondary',
 '25-1122': 'Communications Teachers, Postsecondary',
 '25-1123': 'English Language and Literature Teachers, Postsecondary',
 '25-1124': 'Foreign Language and Literature Teachers, Postsecondary',
 '25-1125': 'History Teachers, Postsecondary',
 '25-1126': 'Philosophy and Religion Teachers, Postsecondary',
 '25-1192': 'Family and Consumer Sciences Teachers, Postsecondary',
 '25-1193': 'Recreation and Fitness Studies Teachers, Postsecondary',
 '25-1194': 'Career/Technical Education Teachers, Postsecondary',
 '25-1199': 'Postsecondary Teachers, All Other',
 '25-2011': 'Preschool Teachers, Except Special Education',
 '25-2012': 'Kindergarten Teachers, Except Special Education',
 '25-2021': 'Elementary School Teachers, Except Special Education',
 '25-2022': 'Middle School Teachers, Except Special and Career/Technical Education',
 '25-2023': 'Career/Technical Education Teachers, Middle School',
 '25-2031': 'Secondary School Teachers, Except Special and Career/Technical Education',
 '25-2032': 'Career/Technical Education Teachers, Secondary School',
 '25-2051': 'Special Education Teachers, Preschool',
 '25-2055': 'Special Education Teachers, Kindergarten',
 '25-2056': 'Special Education Teachers, Elementary School',
 '25-2057': 'Special Education Teachers, Middle School',
 '25-2058': 'Special Education Teachers, Secondary School',
 '25-2059': 'Special Education Teachers, All Other',
 '25-3011': 'Adult Basic Education, Adult Secondary Education, and English as a Second Language Instructors',
 '25-3021': 'Self-Enrichment Teachers',
 '25-3031': 'Substitute Teachers, Short-Term',
 '25-3041': 'Tutors',
 '25-3099': 'Teachers and Instructors, All Other',
 '25-4011': 'Archivists',
 '25-4012': 'Curators',
 '25-4013': 'Museum Technicians and Conservators',
 '25-4022': 'Librarians and Media Collections Specialists',
 '25-4031': 'Library Technicians',
 '25-9021': 'Farm and Home Management Educators',
 '25-9031': 'Instructional Coordinators',
 '25-9042': 'Teaching Assistants, Preschool, Elementary, Middle, and Secondary School, Except Special Education',
 '25-9043': 'Teaching Assistants, Special Education',
 '25-9044': 'Teaching Assistants, Postsecondary',
 '25-9049': 'Teaching Assistants, All Other',
 '25-9099': 'Educational Instruction and Library Workers, All Other',
 '27-1011': 'Art Directors',
 '27-1012': 'Craft Artists',
 '27-1013': 'Fine Artists, Including Painters, Sculptors, and Illustrators',
 '27-1014': 'Special Effects Artists and Animators',
 '27-1019': 'Artists and Related Workers, All Other',
 '27-1021': 'Commercial and Industrial Designers',
 '27-1022': 'Fashion Designers',
 '27-1023': 'Floral Designers',
 '27-1024': 'Graphic Designers',
 '27-1025': 'Interior Designers',
 '27-1026': 'Merchandise Displayers and Window Trimmers',
 '27-1027': 'Set and Exhibit Designers',
 '27-1029': 'Designers, All Other',
 '27-2011': 'Actors',
 '27-2012': 'Producers and Directors',
 '27-2021': 'Athletes and Sports Competitors',
 '27-2022': 'Coaches and Scouts',
 '27-2023': 'Umpires, Referees, and Other Sports Officials',
 '27-2031': 'Dancers',
 '27-2032': 'Choreographers',
 '27-2041': 'Music Directors and Composers',
 '27-2042': 'Musicians and Singers',
 '27-2091': 'Disc Jockeys, Except Radio',
 '27-2099': 'Entertainers and Performers, Sports and Related Workers, All Other',
 '27-3011': 'Broadcast Announcers and Radio Disc Jockeys',
 '27-3023': 'News Analysts, Reporters, and Journalists',
 '27-3031': 'Public Relations Specialists',
 '27-3041': 'Editors',
 '27-3042': 'Technical Writers',
 '27-3043': 'Writers and Authors',
 '27-3091': 'Interpreters and Translators',
 '27-3092': 'Court Reporters and Simultaneous Captioners',
 '27-3099': 'Media and Communication Workers, All Other',
 '27-4011': 'Audio and Video Technicians',
 '27-4012': 'Broadcast Technicians',
 '27-4014': 'Sound Engineering Technicians',
 '27-4015': 'Lighting Technicians',
 '27-4021': 'Photographers',
 '27-4031': 'Camera Operators, Television, Video, and Film',
 '27-4032': 'Film and Video Editors',
 '27-4099': 'Media and Communication Equipment Workers, All Other',
 '29-1011': 'Chiropractors',
 '29-1021': 'Dentists, General',
 '29-1022': 'Oral and Maxillofacial Surgeons',
 '29-1023': 'Orthodontists',
 '29-1024': 'Prosthodontists',
 '29-1029': 'Dentists, All Other Specialists',
 '29-1031': 'Dietitians and Nutritionists',
 '29-1041': 'Optometrists',
 '29-1051': 'Pharmacists',
 '29-1071': 'Physician Assistants',
 '29-1081': 'Podiatrists',
 '29-1122': 'Occupational Therapists',
 '29-1123': 'Physical Therapists',
 '29-1124': 'Radiation Therapists',
 '29-1125': 'Recreational Therapists',
 '29-1126': 'Respiratory Therapists',
 '29-1127': 'Speech-Language Pathologists',
 '29-1128': 'Exercise Physiologists',
 '29-1129': 'Therapists, All Other',
 '29-1131': 'Veterinarians',
 '29-1141': 'Registered Nurses',
 '29-1151': 'Nurse Anesthetists',
 '29-1161': 'Nurse Midwives',
 '29-1171': 'Nurse Practitioners',
 '29-1181': 'Audiologists',
 '29-1211': 'Anesthesiologists',
 '29-1212': 'Cardiologists',
 '29-1213': 'Dermatologists',
 '29-1214': 'Emergency Medicine Physicians',
 '29-1215': 'Family Medicine Physicians',
 '29-1216': 'General Internal Medicine Physicians',
 '29-1217': 'Neurologists',
 '29-1218': 'Obstetricians and Gynecologists',
 '29-1221': 'Pediatricians, General',
 '29-1222': 'Physicians, Pathologists',
 '29-1223': 'Psychiatrists',
 '29-1224': 'Radiologists',
 '29-1229': 'Physicians, All Other',
 '29-1241': 'Ophthalmologists, Except Pediatric',
 '29-1242': 'Orthopedic Surgeons, Except Pediatric',
 '29-1243': 'Pediatric Surgeons',
 '29-1249': 'Surgeons, All Other',
 '29-1291': 'Acupuncturists',
 '29-1292': 'Dental Hygienists',
 '29-1299': 'Healthcare Diagnosing or Treating Practitioners, All Other',
 '29-2011': 'Medical and Clinical Laboratory Technologists',
 '29-2012': 'Medical and Clinical Laboratory Technicians',
 '29-2031': 'Cardiovascular Technologists and Technicians',
 '29-2032': 'Diagnostic Medical Sonographers',
 '29-2033': 'Nuclear Medicine Technologists',
 '29-2034': 'Radiologic Technologists and Technicians',
 '29-2035': 'Magnetic Resonance Imaging Technologists',
 '29-2036': 'Medical Dosimetrists',
 '29-2042': 'Emergency Medical Technicians',
 '29-2043': 'Paramedics',
 '29-2051': 'Dietetic Technicians',
 '29-2052': 'Pharmacy Technicians',
 '29-2053': 'Psychiatric Technicians',
 '29-2055': 'Surgical Technologists',
 '29-2056': 'Veterinary Technologists and Technicians',
 '29-2057': 'Ophthalmic Medical Technicians',
 '29-2061': 'Licensed Practical and Licensed Vocational Nurses',
 '29-2072': 'Medical Records Specialists',
 '29-2081': 'Opticians, Dispensing',
 '29-2091': 'Orthotists and Prosthetists',
 '29-2092': 'Hearing Aid Specialists',
 '29-2099': 'Health Technologists and Technicians, All Other',
 '29-9021': 'Health Information Technologists and Medical Registrars',
 '29-9091': 'Athletic Trainers',
 '29-9092': 'Genetic Counselors',
 '29-9093': 'Surgical Assistants',
 '29-9099': 'Healthcare Practitioners and Technical Workers, All Other',
 '31-1121': 'Home Health Aides',
 '31-1122': 'Personal Care Aides',
 '31-1131': 'Nursing Assistants',
 '31-1132': 'Orderlies',
 '31-1133': 'Psychiatric Aides',
 '31-2011': 'Occupational Therapy Assistants',
 '31-2012': 'Occupational Therapy Aides',
 '31-2021': 'Physical Therapist Assistants',
 '31-2022': 'Physical Therapist Aides',
 '31-9011': 'Massage Therapists',
 '31-9091': 'Dental Assistants',
 '31-9092': 'Medical Assistants',
 '31-9093': 'Medical Equipment Preparers',
 '31-9094': 'Medical Transcriptionists',
 '31-9095': 'Pharmacy Aides',
 '31-9096': 'Veterinary Assistants and Laboratory Animal Caretakers',
 '31-9097': 'Phlebotomists',
 '31-9099': 'Healthcare Support Workers, All Other',
 '33-1011': 'First-Line Supervisors of Correctional Officers',
 '33-1012': 'First-Line Supervisors of Police and Detectives',
 '33-1021': 'First-Line Supervisors of Firefighting and Prevention Workers',
 '33-1091': 'First-Line Supervisors of Security Workers',
 '33-1099': 'First-Line Supervisors of Protective Service Workers, All Other',
 '33-2011': 'Firefighters',
 '33-2021': 'Fire Inspectors and Investigators',
 '33-2022': 'Forest Fire Inspectors and Prevention Specialists',
 '33-3011': 'Bailiffs',
 '33-3012': 'Correctional Officers and Jailers',
 '33-3021': 'Detectives and Criminal Investigators',
 '33-3031': 'Fish and Game Wardens',
 '33-3041': 'Parking Enforcement Workers',
 '33-3051': 'Police and Sheriff’s Patrol Officers',
 '33-3052': 'Transit and Railroad Police',
 '33-9011': 'Animal Control Workers',
 '33-9021': 'Private Detectives and Investigators',
 '33-9031': 'Gambling Surveillance Officers and Gambling Investigators',
 '33-9032': 'Security Guards',
 '33-9091': 'Crossing Guards and Flaggers',

In [124]:
features_occupations["onet_code_description"] = features_occupations["onet_code"].replace(soc_detailed)
features_occupations

,onet_code,Element ID,Data Value,element_id,onet_code_description
0,11-1011,2.A.1.a,4.060,2.A.1.a_skills,Chief Executives
1,11-1011,2.A.1.b,4.000,2.A.1.b_skills,Chief Executives
2,11-1011,2.A.1.c,4.120,2.A.1.c_skills,Chief Executives
3,11-1011,2.A.1.d,4.125,2.A.1.d_skills,Chief Executives
4,11-1011,2.A.1.e,3.065,2.A.1.e_skills,Chief Executives
...,...,...,...,...,...
89944,53-7121,2.D.112,0.000,2.D.112_knowledge,"Tank Car, Truck, and Ship Loaders"
89945,53-7121,2.D.16,1.760,2.D.16_knowledge,"Tank Car, Truck, and Ship Loaders"
89946,53-7121,2.D.17,0.000,2.D.17_knowledge,"Tank Car, Truck, and Ship Loaders"
89947,53-7121,2.D.18,0.000,2.D.18_knowledge,"Tank Car, Truck, and Ship Loaders"
89948,53-7121,2.D.19,0.000,2.D.19_knowledge,"Tank Car, Truck, and Ship Loaders"

In [125]:
### Calculamos la matriz de proximidad
# https://github.com/cid-harvard/py-ecomplexity
# pip install ecomplexity
from ecomplexity import ecomplexity
from ecomplexity import proximity

features_occupations["year"] = 2024

trade_cols = {'time':'year', 'loc':'element_id', 'prod':'onet_code', 'val':'Data Value'}
prox_df = proximity(features_occupations, trade_cols,rca_mcp_threshold = 1.5)
prox_df

2024

        year onet_code_1 onet_code_2  proximity
1       2024     11-1011     11-1021   0.500000
2       2024     11-1011     11-2011   0.333333
3       2024     11-1011     11-2021   0.500000
4       2024     11-1011     11-2022   0.000000
5       2024     11-1011     11-3012   0.500000
...      ...         ...         ...        ...
558003  2024     53-7121     53-7065   0.266667
558004  2024     53-7121     53-7071   0.333333
558005  2024     53-7121     53-7072   0.133333
558006  2024     53-7121     53-7073   0.333333
558007  2024     53-7121     53-7081   0.521739

[557262 rows x 4 columns]

In [126]:
## Creamos link si la proximidad es mayor a 0.8
prox_df_link = prox_df.query("proximity>0.55")

In [127]:
## Creamos la gráfica
import networkx as nx
G_onet = nx.from_pandas_edgelist(prox_df_link, "onet_code_1", "onet_code_2")

In [128]:
Sigma(G_onet, node_metrics=["louvain"], node_color="louvain")

Sigma(nx.Graph with 677 nodes and 6,514 edges)

# REPETIMOS EL EJERCICIO PERO CON LOS 238 GRUPOS

In [106]:
df_recodificacion = pd.read_csv(os.path.join(OUTPUT_PATH, "recodificacion_ciiu-rev-4_scian_2018.csv"))
df_recodificacion

,codigo,codigo_nuevo,clasificador,nombre_ocupacion
0,2321,1,sinco,Profesores universitarios y de enseñanza superior
1,2715,1,sinco,Instructores y capacitadores en oficios y para...
2,25-1011,1,onet,"Business Teachers, Postsecondary"
3,25-1022,1,onet,"Mathematical Science Teachers, Postsecondary"
4,25-1021,1,onet,"Computer Science Teachers, Postsecondary"
...,...,...,...,...
1175,53-6021,236,onet,Parking Attendants
1176,47-4041,237,onet,Hazardous Materials Removal Workers
1177,9663,237,sinco,Recolectores de otros materiales
1178,9731,238,sinco,Lecturistas de medidores
1179,43-5041,238,onet,"Meter Readers, Utilities"

In [146]:
## Obtenemos los keywords del conjunto de ocupaciones de cada grupo
## https://maartengr.github.io/KeyBERT/
#!pip install keybert
#!pip3 install rake-nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab')
from rake_nltk import Rake

# Create a Rake instance
r = Rake()

# Text from which keywords will be extracted
text = "RAKE (Rapid Automatic Keyword Extraction) is a keyword extraction algorithm that automatically identifies relevant keywords and phrases in a text document."

# Extract keywords from the text
r.extract_keywords_from_text(text)

# Get the ranked keywords
keywords = r.get_ranked_phrases_with_scores()

# Print the extracted keywords and their scores
for score, kw in keywords:
    print("Keyword:", kw, "Score:", score)

Keyword: automatically identifies relevant keywords Score: 16.0
Keyword: rapid automatic keyword extraction Score: 15.0
Keyword: keyword extraction algorithm Score: 10.0
Keyword: text document Score: 4.0
Keyword: rake Score: 1.0
Keyword: phrases Score: 1.0

[nltk_data] Downloading package stopwords to /home/milo/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/milo/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /home/milo/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [80]:
from keybert import KeyBERT

doc = """
         Supervised learning is the machine learning task of learning a function that
         maps an input to an output based on example input-output pairs. It infers a
         function from labeled training data consisting of a set of training examples.
         In supervised learning, each example is a pair consisting of an input object
         (typically a vector) and a desired output value (also called the supervisory signal).
         A supervised learning algorithm analyzes the training data and produces an inferred function,
         which can be used for mapping new examples. An optimal scenario will allow for the
         algorithm to correctly determine the class labels for unseen instances. This requires
         the learning algorithm to generalize from the training data to unseen situations in a
         'reasonable' way (see inductive bias).
      """
kw_model = KeyBERT()
keywords = kw_model.extract_keywords(doc)

In [81]:
kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 1), stop_words=None)

[('supervised', 0.6676),
 ('labeled', 0.4896),
 ('learning', 0.4813),
 ('training', 0.4134),
 ('labels', 0.3947)]

In [82]:
kw_model.extract_keywords(doc, keyphrase_ngram_range=(1,2), stop_words=None)

[('supervised learning', 0.6779),
 ('supervised', 0.6676),
 ('signal supervised', 0.6152),
 ('in supervised', 0.6124),
 ('labeled training', 0.6013)]

In [83]:
cw_keywords = {}

for i in df_recodificacion.codigo_nuevo.unique():
    doc = ",".join(df_recodificacion.query(f"clasificador=='onet' and codigo_nuevo=={i}").nombre_ocupacion)
    keywords = kw_model.extract_keywords(doc)
    ocupacion_agregada = kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 2), stop_words=None)[0][0]

    cw_keywords[i] = ocupacion_agregada

In [107]:
onet_soc_codes = df_recodificacion[df_recodificacion.codigo.apply(lambda x : "-" in x)].codigo.unique()
features_occupations = features_occupations[features_occupations.onet_code.isin(onet_soc_codes)]

In [108]:
features_occupations["onet_code_reclasificado"] = features_occupations["onet_code"].replace({i:j for i,j in df_recodificacion.query("clasificador=='onet'")[["codigo", "codigo_nuevo"]].to_records(index = False)})

/tmp/ipykernel_763896/153230860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_occupations["onet_code_reclasificado"] = features_occupations["onet_code"].replace({i:j for i,j in df_recodificacion.query("clasificador=='onet'")[["codigo", "codigo_nuevo"]].to_records(index = False)})

In [109]:
features_occupations_recod =features_occupations.groupby(["onet_code_reclasificado", "element_id"]).agg({"Data Value" : "mean"}).reset_index()
features_occupations_recod

      onet_code_reclasificado         element_id  Data Value
0                           1     2.A.1.a_skills    4.098571
1                           1     2.A.1.b_skills    4.020857
2                           1     2.A.1.c_skills    3.992286
3                           1     2.A.1.d_skills    4.257143
4                           1     2.A.1.e_skills    2.656571
...                       ...                ...         ...
9053                      238  2.D.112_knowledge    0.000000
9054                      238   2.D.16_knowledge    2.390000
9055                      238   2.D.17_knowledge    0.000000
9056                      238   2.D.18_knowledge    0.000000
9057                      238   2.D.19_knowledge    0.000000

[9058 rows x 3 columns]

In [110]:
### Calculamos la matriz de proximidad
# https://github.com/cid-harvard/py-ecomplexity
# pip install ecomplexity
features_occupations_recod["year"] = 2024
trade_cols = {'time':'year', 'loc':'element_id', 'prod':'onet_code_reclasificado', 'val':'Data Value'}
prox_df_recod = proximity(features_occupations_recod, trade_cols,rca_mcp_threshold = 1.2)
prox_df_recod

2024

       year  onet_code_reclasificado_1  onet_code_reclasificado_2  proximity
1      2024                          1                          2   0.000000
2      2024                          1                          3   0.000000
3      2024                          1                          4   0.000000
4      2024                          1                          5   0.000000
5      2024                          1                          6   0.000000
...     ...                        ...                        ...        ...
47955  2024                        238                        232   0.476190
47956  2024                        238                        233   0.571429
47957  2024                        238                        235   0.666667
47958  2024                        238                        236   0.590909
47959  2024                        238                        237   0.380952

[47742 rows x 4 columns]

In [111]:
## Cambiamos códigos por nombres
prox_df_recod["onet_code_reclasificado_1"] = prox_df_recod["onet_code_reclasificado_1"].replace(cw_keywords)
prox_df_recod["onet_code_reclasificado_2"] = prox_df_recod["onet_code_reclasificado_2"].replace(cw_keywords)
prox_df_recod

       year onet_code_reclasificado_1 onet_code_reclasificado_2  proximity
1      2024    postsecondary teachers           farmworkers and   0.000000
2      2024    postsecondary teachers              meat cutters   0.000000
3      2024    postsecondary teachers        service attendants   0.000000
4      2024    postsecondary teachers        technicians except   0.000000
5      2024    postsecondary teachers      avionics technicians   0.000000
...     ...                       ...                       ...        ...
47955  2024             meter readers            ship engineers   0.476190
47956  2024             meter readers          dredge operators   0.571429
47957  2024             meter readers      passenger attendants   0.666667
47958  2024             meter readers        parking attendants   0.590909
47959  2024             meter readers           removal workers   0.380952

[47742 rows x 4 columns]

In [112]:
## Creamos link si la proximidad es mayor a 0.5
prox_df_link_recod = prox_df_recod.query("proximity>0.6")
prox_df_link_recod

       year onet_code_reclasificado_1 onet_code_reclasificado_2  proximity
35     2024    postsecondary teachers  education administrators   0.800000
65     2024    postsecondary teachers      engineering managers   0.800000
68     2024    postsecondary teachers           music directors   0.666667
89     2024    postsecondary teachers        medical scientists   0.800000
223    2024           farmworkers and        technicians except   0.700000
...     ...                       ...                       ...        ...
47947  2024             meter readers                carpenters   0.714286
47949  2024             meter readers           process workers   0.714286
47952  2024             meter readers          cleaning workers   0.629630
47954  2024             meter readers             marine oilers   0.666667
47957  2024             meter readers      passenger attendants   0.666667

[5086 rows x 4 columns]

In [113]:
## Creamos la gráfica
G_onet_recod = nx.from_pandas_edgelist(prox_df_link_recod, "onet_code_reclasificado_1", "onet_code_reclasificado_2", ["proximity"])

In [114]:
Sigma(G_onet_recod, node_metrics=["louvain"], node_color="louvain", node_size=nx.eigenvector_centrality(G_onet_recod))

Sigma(nx.Graph with 199 nodes and 2,517 edges)

# Calculemos la complejidad de las ocupaciones

In [115]:
trade_cols = {'time':'year', 'loc':'onet_code_reclasificado', 'prod':'element_id', 'val':'Data Value'}

cdata = ecomplexity(features_occupations_recod, trade_cols,rca_mcp_threshold = 1.2)

2024

In [116]:
cdata["onet_descripcion"] = cdata["onet_code_reclasificado"].replace(cw_keywords)
#{i:j for i,j in cdata.sort_values("eci")[["eci", "onet_descripcion"]].to_records(index = False)}

In [117]:
features_occupations_recod["year"] = 2024
trade_cols = {'time':'year', 'loc':'element_id', 'prod':'onet_code_reclasificado', 'val':'Data Value'}
prox_df_recod = proximity(features_occupations_recod, trade_cols,rca_mcp_threshold = 1.2)

## Creamos link si la proximidad es mayor a 0.5
prox_df_link_recod = prox_df_recod.query("proximity>0.6")
prox_df_link_recod["occupation_complexity"] = prox_df_link_recod["onet_code_reclasificado_1"].replace({i:j for i,j in cdata.sort_values("eci")[["onet_code_reclasificado", "eci"]].to_records(index = False)})
prox_df_link_recod

2024

/tmp/ipykernel_763896/1555515652.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prox_df_link_recod["occupation_complexity"] = prox_df_link_recod["onet_code_reclasificado_1"].replace({i:j for i,j in cdata.sort_values("eci")[["onet_code_reclasificado", "eci"]].to_records(index = False)})

,year,onet_code_reclasificado_1,onet_code_reclasificado_2,proximity,occupation_complexity
35,2024,1,38,0.800000,-1.560448
65,2024,1,68,0.800000,-1.560448
68,2024,1,71,0.666667,-1.560448
89,2024,1,93,0.800000,-1.560448
223,2024,2,5,0.700000,0.678278
...,...,...,...,...,...
47947,2024,238,224,0.714286,0.753532
47949,2024,238,226,0.714286,0.753532
47952,2024,238,229,0.629630,0.753532
47954,2024,238,231,0.666667,0.753532
47957,2024,238,235,0.666667,0.753532

In [118]:
prox_df_link_recod["onet_code_reclasificado_1"] = prox_df_recod["onet_code_reclasificado_1"].replace(cw_keywords)
prox_df_link_recod["onet_code_reclasificado_2"] = prox_df_recod["onet_code_reclasificado_2"].replace(cw_keywords)
prox_df_link_recod

/tmp/ipykernel_763896/1487751450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prox_df_link_recod["onet_code_reclasificado_1"] = prox_df_recod["onet_code_reclasificado_1"].replace(cw_keywords)
/tmp/ipykernel_763896/1487751450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prox_df_link_recod["onet_code_reclasificado_2"] = prox_df_recod["onet_code_reclasificado_2"].replace(cw_keywords)

,year,onet_code_reclasificado_1,onet_code_reclasificado_2,proximity,occupation_complexity
35,2024,postsecondary teachers,education administrators,0.800000,-1.560448
65,2024,postsecondary teachers,engineering managers,0.800000,-1.560448
68,2024,postsecondary teachers,music directors,0.666667,-1.560448
89,2024,postsecondary teachers,medical scientists,0.800000,-1.560448
223,2024,farmworkers and,technicians except,0.700000,0.678278
...,...,...,...,...,...
47947,2024,meter readers,carpenters,0.714286,0.753532
47949,2024,meter readers,process workers,0.714286,0.753532
47952,2024,meter readers,cleaning workers,0.629630,0.753532
47954,2024,meter readers,marine oilers,0.666667,0.753532
47957,2024,meter readers,passenger attendants,0.666667,0.753532

In [119]:
## Creamos la gráfica
G_onet_recod = nx.from_pandas_edgelist(prox_df_link_recod, "onet_code_reclasificado_1", "onet_code_reclasificado_2", ["proximity", "occupation_complexity"])

In [120]:
node_size = {i:j for i,j in prox_df_link_recod[["onet_code_reclasificado_1", "occupation_complexity"]].to_records(index=False)}
edge_size = {i:j for i,j in prox_df_link_recod[["onet_code_reclasificado_1", "proximity"]].to_records(index=False)}
Sigma(G_onet_recod, node_metrics=["louvain"], node_color="louvain", 
      node_size= node_size, 
      node_border_size = node_size , 
      node_border_color = "louvain")

Sigma(nx.Graph with 199 nodes and 2,517 edges)

In [ ]:
G_onet_recod.